Repository ayazhafiz/hgb, pull requests merged in 2020-03, with the labels that each got.

#27 Improved code on lexer.
  src/Lexer.hs
  src/Token.hs
Labels: effort:hours

#24 Added parser that handles math expressions, strings, variables, and function-calls.
  .gitignore
  hgb.cabal
  package.yaml
  src/Error.hs
  src/Grammar.hs
  src/Lexer.hs
  src/Parser.hs
  src/Symbol.hs
  src/Utils.hs
  test/Error/ErrorSpec.hs
  test/Grammar/GrammarSpec.hs
  test/Lexer/LexerSpec.hs
  test/Parser/ParserSpec.hs
  test/Symbol/SymbolSpec.hs
  test/Token/TokenSpec.hs
  test/Utils/UtilsSpec.hs
Labels: effort:days, lib, status:merge, type:feature, type:test

#34 Humanize parser error messages
  src/Error.hs
  src/Lexer.hs
  src/Parser.hs
  src/Symbol.hs
  src/Token.hs
  src/Utils.hs
  test/Error/ErrorSpec.hs
  test/Lexer/LexerSpec.hs
  test/Parser/ParserSpec.hs
  test/Token/TokenSpec.hs
  test/Utils/UtilsSpec.hs
Labels: effort:subhour, errors, lib, status:WIP, type:feature

#36 Parse function decls, variable assign/decls
  src/Error.hs
  src/Grammar.hs
  src/Lexer.hs
  src/Parser.hs
  src/Symbol.hs
  src/Utils.hs
  test/Error/ErrorSpec.hs
  test/Grammar/GrammarSpec.hs
  test/Lexer/LexerSpec.hs
  test/Parser/ParserSpec.hs
  test/Symbol/SymbolSpec.hs
  test/Utils/UtilsSpec.hs
Labels: effort:hours, lib, parser, type:feature, type:test

#39 Add hlint and hindent scripts to tests.
  .travis.yml
  app/Main.hs
  scripts/all.sh
  scripts/hindent.sh
  scripts/hlint.sh
  scripts/test.sh
  src/Grammar.hs
  src/Lib.hs
  test/Grammar/GrammarSpec.hs
  test/Lexer/LexerSpec.hs
  test/Parser/ParserSpec.hs
  test/Utils/UtilsSpec.hs
Labels: effort:trivial, status:review, type:feature
