Repository ayazhafiz/hgb, pull requests merged in 2020-04, with the labels that each got.

#45 Change type in Grammar.Number constructor
  src/Grammar.hs
  src/Parser.hs
  test/Grammar/GrammarSpec.hs
Labels: effort:trivial, parser, status:review, type:refactor

#46 Support escape characters
  src/Lexer.hs
  test/Lexer/LexerSpec.hs
Labels: effort:trivial, lexer, lib, status:review, type:feature

#49 Add support for lexing chars
  src/Lexer.hs
  src/Symbol.hs
  test/Lexer/LexerSpec.hs
Labels: effort:subhour, lexer, lib, status:review, type:feature

#53 Parse chars
  src/Error.hs
  src/Grammar.hs
  src/Parser.hs
  test/Parser/ParserSpec.hs
Labels: effort:trivial, lib, parser, status:review, type:feature

#54 Simplified error expectations
  src/Error.hs
  src/Parser.hs
  test/Error/ErrorSpec.hs
Labels: errors, type:refactor
